@import "var";

.custom-modal, mat-dialog-container {
  .modal-header {
    .mat-icon {
      transition: transform .2s;

      &:hover {
        transform: scale(0.9);
        transform-origin: center;
      }
    }
  }

  div.modal-body, .info-modal {
    h1 {
      font-size: 32px;
      margin: 0;
      font-family: $fontPrimary;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 32px;
      font-family: $fontSecond-B;
    }

    h3 {
      font-size: 32px;
      font-family: $fontSecond-B;
    }

    p, strong, a, button {
      font-family: $fontSecond-R;
      font-size: 18px;
    }
  }

  .mat-dialog-actions {
    background: transparent;
    padding: 30px 0px;
    margin: 0;
    margin-bottom: 0;
  }
}

.modal-editar-sesiones {
  width: 844px !important;
  max-width: 844px !important;

  mat-dialog-container {
    .modal-header {
      .mat-icon {
        transition: transform .2s;

        &:hover {
          transform: scale(0.9);
          transform-origin: center;
        }
      }
    }

    div.modal-body, .info-modal {
      h1 {
        font-size: 32px;
        margin: 0;
        font-family: $fontPrimary;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 32px;
        font-family: $fontSecond-B;
      }

      h3 {
        font-size: 32px;
        font-family: $fontSecond-B;
      }

      p, strong, a, button {
        font-family: $fontSecond-R;
        font-size: 18px;
      }
    }

    .mat-dialog-actions {
      background: transparent;
      padding: 30px 0px;
      margin: 0;
      margin-bottom: 0;
    }
  }
}

.modal-ahorro {
  padding-bottom: 40px;
  height: 100%;

  .info-modal {
    ul {
      list-style: none;
      margin: 0;
      margin-bottom: 50px;

      li {
        text-align: center;
        color: $colorWhite;
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 300;
      }
    }

    .icon-check {
      margin: 0 auto 35px;
      display: block;
    }
  }

  .btns-modal {
    margin: 0 auto;

    button {
      min-width: auto;

      &:hover, &:focus {
        outline: 0;
      }
    }

    .cancel {
      border: 2px solid #D0021B;
      margin-right: 20px;

      &:hover {
        border-color: #ff001f;
      }
    }

    .accept {
      border: 2px solid #00CCA3;

      &:hover {
        border-color: #00ffcc;
      }
    }
  }
}

.modal-success {
  background: #04BF94;
}

.modal-alert {
  background: #E27E30;
  opacity: .9;
  padding: 20px;
  height: 100%;
}

.modal-warning {
  background: #e2d249;
  opacity: .9;
  padding: 20px;
  height: 100%;
}

::ng-deep {
  .mat-dialog-container {
    .modal-body {
      padding: 0 60px;
      text-align: center;

      h1, h2 {
        font-family: $fontPrimary;
        color: $colorGrey80;
        font-size: 32px;
        margin-top: 0;
      }

      p {
        color: $colorGrey80;
        font-family: $fontSecond-R;
        font-size: 18px;
      }

      textarea {
        border: none;
        border-radius: 4px;
        color: $colorGrey80;
      }
    }

    .modal-header, .modal-footer {
      border: none;
    }

    .modal-header .close {
      margin-right: 15px;
      color: $colorGrey80;
      opacity: 1;

      .mat-icon {
        text-shadow: none;
        font-size: 26px;
      }

      &:focus {
        outline: 0;
      }
    }

    .modal-footer {
      .btns-footer {
        text-align: center;
        margin-bottom: 30px;

        button {
          float: none;
        }
      }
    }

    button.mat-button {
      line-height: normal;
    }

    img {
      margin: 0 auto 30px;
      display: block;
    }

    p {
      text-align: center;
    }
  }

  .btns-rectangular-white {
    box-shadow: inherit;

    &:hover {
      background: rgba(255, 255, 255, 0.21);
    }
  }

  .modal {
    padding-left: 15px;
    padding-top: 50px;

    .modal-dialog {
      width: 95%;
    }
  }

  .full-screen-dialog {
    max-width: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-modal {
    height: 100%;

    .info-modal {
      padding: 0 64px;
      display: block;
      width: 100%;
      text-align: center;

      ul {
        list-style: none;
        margin: 0;
        margin-bottom: 50px;

        li {
          text-align: center;
          font-size: 16px;
          margin-bottom: 15px;
          font-weight: 300;
        }
      }

      .icon-check {
        margin: 0 auto 35px;
        display: block;
      }
    }

    .btns-modal {
      margin: 0 auto;

      button {
        border-radius: 30px;
        padding: 8px 25px;
        font-size: 16px;
        font-weight: 300;
        min-width: auto;

        &:hover, &:focus {
          outline: 0;
        }
      }
    }

    .mat-dialog-actions .mat-button + .mat-button, .mat-dialog-actions .mat-button + .mat-raised-button, .mat-dialog-actions .mat-raised-button + .mat-button, .mat-dialog-actions .mat-raised-button + .mat-raised-button {
      margin-left: inherit;
    }
  }

  .custom-modal-warning {
    padding-bottom: 40px;

    .modal-header {
      border: none;
      text-align: right;

      button {
        mat-icon {
          color: #292929;
          font-size: 40px;
          height: 40px;
          width: 40px;
        }
      }
    }

    .info-modal {
      padding: 0 0 10px;
      text-align: center;

      p, li, mat-icon {
        color: #292929;
      }

      mat-icon {
        font-size: 70px;
        height: 100px;
        width: 100px;
      }
    }

    .btns-modal {
      button {
        color: #292929;
      }

      .cancel {
        border: 2px solid #D0021B;

        &:hover {
          border-color: #ff001f;
        }
      }

      .accept {
        background-color: #f44336;
        border: 2px solid #00CCA3;

        &:hover {
          border-color: #00ffcc;
        }
      }
    }
  }

  .custom-modal-success {
    .modal-header {
      border: none;
      text-align: right;

      button {
        mat-icon {
          color: #fff;
          font-size: 40px;
          height: 40px;
          width: 40px;
        }
      }
    }

    .info-modal {
      text-align: center;

      mat-icon {
        font-size: 70px;
        height: 100px;
        width: 100px;
      }

      p, li, mat-icon {
        color: #fff;
      }

      p {
        font-size: 18px;
      }
    }

    .btns-modal {
      button {
        color: #fff;
      }

      .accept {
        border: 2px solid #00CCA3;

        &:hover {
          border-color: #00ffcc;
        }
      }
    }
  }

  .custom-modal-success {
    .modal-header {
      border: none;
      text-align: right;

      button {
        mat-icon {
          color: #fff;
          font-size: 40px;
          height: 40px;
          width: 40px;
        }
      }
    }

    .info-modal {
      text-align: center;

      mat-icon {
        font-size: 70px;
        height: 100px;
        width: 100px;
      }

      p, li, mat-icon {
        color: #fff;
      }

      p {
        font-size: 18px;
      }
    }

    .btns-modal {
      button {
        color: #fff;
      }

      .accept {
        border: 2px solid #00CCA3;

        &:hover {
          border-color: #00ffcc;
        }
      }
    }
  }

  .custom-modal-error {
    .modal-header {
      border: none;
      text-align: right;

      button {
        mat-icon {
          color: $colorGrey80;
          font-size: 40px;
          height: 40px;
          width: 40px;
        }
      }
    }

    .info-modal {
      p, li, h3 {
        color: $colorGrey80;
      }

      p {
        font-size: 18px;
      }
    }

    .btns-modal {
      button {
        color: #fff;
      }

      .accept {
        border: 2px solid #00CCA3;

        &:hover {
          border-color: #00ffcc;
        }
      }
    }
  }

  .modal-vertical-btns {
    .btns-modal {
      .mat-button {
        display: block;
        margin: 0 auto 10px;
        text-align: center;

        .mat-button-focus-overlay {
          background: none;
        }

        &:focus {
          outline: 0;
        }
      }

      .link-white {
        span {
          color: #fff;
          text-align: center;
        }
      }
    }
  }

  .custom-modal-medium-information {
    box-shadow: 10px 10px 5px #888888 !important;
    background: $colorGreen;
    border-radius: 0;
    padding: 10px 10px 50px;

    .modal-header {
      border: none
    }

    .modal-body {
      border: none;
      text-align: center;
      padding: 10px 50px 10px 50px;

      a {
        cursor: pointer;
      }

      h2 {
        font-size: 18px;
        color: #fff;
        font-weight: 400;
      }

      p {
        color: #fff;
        font-weight: 300;
        font-size: 16px;
      }
    }

    .close-modal {
      background: url(/assets/images/close-modal.png) no-repeat;
      height: 15px;
      width: 15px;
      display: block;
      border: none;
      float: right;

      &:focus {
        outline: 0;
      }
    }
  }

  .modal-color-aqua {
    mat-dialog-container {
      background: $colorGreen;
    }
  }

  .modal-color-yellow {
    mat-dialog-container {
      background: $colorYellow;
    }
  }

  mat-form-field .mat-form-field-underline .mat-form-field-ripple {
    background-color: $colorPurple;
  }

  .mat-form-field-invalid .mat-form-field-underline .mat-form-field-ripple {
    background-color: $colorRed;
  }
}
