$colorWhite: #ffffff;
$colorBlack:#000;
$colorGreen:#00BFB3;
$colorGreen2:#00E6DC;
$colorGreen3:#64F4E6;
$colorPurple: #9223E0;
$colorPurple2: #5F259F;
$colorPurple3: #A95EEA;
$colorGrey: #F7F7F7;
$colorGrey20: #D8D8D8;
$colorGrey40:#9B9B9B;
$colorGrey80: #343434;
$colorBlue: #F6F9FE;

$colorRed:#d32a2a;
$colorYellow: #ffff41;
$colorYellow2: #E3E829;

$fontPrimary:GeomanistWord-Bold;
$fontSecond-R:Bariol_Regular;
$fontSecond-I:Bariol_Regular_Italic;
$fontSecond-B:Bariol_Bold;

$colorGrey3: #c3c8d1;
$colorGrey4:rgba($colorGrey20, 0.50);
